GOOGLE_AUTH_REDIRECT_URL="http://localhost:3000/home"
BACKEND_API_URL="your-backend-api-url"
NODE_ENV="your-node-environment"
NEXT_PUBLIC_WALLET_CONNECTION_MODE="wallet-connection-mode-bassed-on-your-environment"
NEXT_PUBLIC_APPKIT_DOMAIN="your-reown-appkit-domain"
NEXT_PUBLIC_APPKIT_PROJECT_ID="your-reown-appkit-project-id"
NEXT_PUBLIC_BASE_PLATFORM_WALLET_ADDRESS="your-base-platform-wallet-address"
NEXT_PUBLIC_SOLANA_PLATFORM_WALLET_ADDRESS="your-solana-platform-wallet-address"
NEXT_PUBLIC_BASE_RPC_URL="your-base-rpc-url"
NEXT_PUBLIC_SOLANA_RPC_URL="your-solana-rpc-url"
